.russian-tennis__subtitle-answer {

    font-size: 22px;
    margin: 0;    
    margin-left: auto;
    padding: 40px 0 0;
    text-align: left;
}

@media screen and (max-width: 425px) {

    .russian-tennis__subtitle-answer {

        font-size: 16px;
    }
}