.sign__header {

    font-family: 'Gothic', 'Arial', 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

    .sign__header {

        margin-top: 20px;
    }
}
