.russian-tennis__sec-title {

    font-weight: 900;
    text-align: right;
    font-size: 45px;
    padding: 0;
    padding-top: 20px;
    letter-spacing: -2px;
    margin: 0;
    background: linear-gradient(90deg, rgba(78,34,5,1) 64%, rgba(236,95,27,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}