.benefits {

    font-family: 'Gothic', 'Arial', 'Helvetica', sans-serif;
    margin: 0;
}

@media screen and (max-width: 1024px) {

    .benefits {

        padding: 0 80px 80px;
    }
}

@media screen and (max-width: 900px) {

    .benefits {

        padding: 0 80px 80px;
    }
}

@media screen and (max-width: 768px) {

    .benefits {

        padding: 0 60px 80px;
    }
}

@media screen and (max-width: 425px) {

    .benefits {

        font-size: 16px;
        padding: 0 20px 60px;
    }
}