.banner {

    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-height: 29%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    margin: 30px auto;
}

@media screen and (max-width: 768px) {

    .banner {

        flex-direction: column;
        max-height: none;
    }
}