.middle {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {

    .middle {

        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    
    .middle {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {

    .middle {

        padding: 60px 30px;
        gap: 40px;
    }
}