.benefits__sign-up {

    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 15px;
}

@media screen and (max-width: 768px) {

    .benefits__sign-up {

        width: 400px;
    }
}

@media screen and (max-width: 500px) {

    .benefits__sign-up {

        width: 300px;
    }
}

@media screen and (max-width: 375px) {

    .benefits__sign-up {

        width: 250px;
    }
}