.russian-tennis__middle {

    font-size: 22px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: justify;
}

@media screen and (max-width: 425px) {

    .russian-tennis__middle {

        font-size: 16px;
    }
}