.middle__category-icon {
    padding-left: 5px;
    transition: transform 0.5s;
}

.middle__category-icon:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 375px) {

    .middle__category-icon {

        width: 18px;
    }
}