.footer__post-text {

    font-family: 'Gothic', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #6C757D;
    margin: 0;
    padding: 0;
    margin-right: 22px;
}