.russian-tennis__bottom {

    font-size: 22px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    text-align: left;
}

@media screen and (max-width: 425px) {

    .russian-tennis__bottom {

        font-size: 16px;
    }
}