/*Founders*/

@import url(../blocks/founders/founders.css);
@import url(../blocks/founders/__item/founders__item.css);
@import url(../blocks/founders/__name-lyulekin/founders__name-lyulekin.css);
@import url(../blocks/founders/__name-zorkin/founders__name-zorkin.css);
@import url(../blocks/founders/__photo-case/founders__photo-case.css);
@import url(../blocks/founders/__photo/founders__photo.css);
@import url(../blocks/founders/__text-lyulekin/founders__text-lyulekin.css);
@import url(../blocks/founders/__textBold-lyulekin/founders__textBold-lyulekin.css);
@import url(../blocks/founders/__textBold-zorkin/founders__textBold-zorkin.css);
@import url(../blocks/founders/__text-zorkin/founders__text-zorkin.css);
@import url(../blocks/founders/__title/founders__title.css);


/*Stl*/

@import url(../blocks/stl/stl.css);
@import url(../blocks/stl/__image/stl__image.css);
@import url(../blocks/stl/__text-first/stl__text-first.css);
@import url(../blocks/stl/__text-second/stl__text-second.css);
@import url(../blocks/stl/__text-third/stl__text-third.css);
@import url(../blocks/stl/__title/stl__title.css);
@import url(../blocks/stl/__line/stl__line.css);


/*Russian Tennis*/

@import url(../blocks/russian-tennis/russian-tennis.css);
@import url(../blocks/russian-tennis/__first-title/russian-tennis__first-title.css);
@import url(../blocks/russian-tennis/__sec-title/russian-tennis__sec-title.css);
@import url(../blocks/russian-tennis/__third-title/russian-tennis__third-title.css);
@import url(../blocks/russian-tennis/__top/russian-tennis__top.css);
@import url(../blocks/russian-tennis/__middle/russian-tennis__middle.css);
@import url(../blocks/russian-tennis/__bottom/russian-tennis__bottom.css);
@import url(../blocks/russian-tennis/__subtitle/russian-tennis__subtitle.css);
@import url(../blocks/russian-tennis/__subtitle-answer/russian-tennis__subtitle-answer.css);


/*Meet*/

@import url(../blocks/meet/meet.css);
@import url(../blocks/meet/__image/meet__image.css);
@import url(../blocks/meet/__title/meet__title.css);
@import url(../blocks/meet/__title/_bold/meet__title_bold.css);
@import url(../blocks/meet/__text/meet__text.css);
@import url(../blocks/meet/__flex/meet__flex.css);
@import url(../blocks/meet/__text-left/meet__text-left.css);
@import url(../blocks/meet/__text-right/meet__text-right.css);



/*Mission*/

@import url(../blocks/mission/mission.css);
@import url(../blocks/mission/__image/mission__image.css);
@import url(../blocks/mission/__text/mission__text.css);
@import url(../blocks/mission/__text/_left/mission__text_left.css);



/*Benefits*/

@import url(../blocks/benefits/benefits.css);
@import url(../blocks/benefits/__title/benefits__title.css);
@import url(../blocks/benefits/__text/benefits__text.css);
@import url(../blocks/benefits/__case/benefits__case.css);
@import url(../blocks/benefits/__age/benefits__age.css);
@import url(../blocks/benefits/__size/benefits__size.css);
@import url(../blocks/benefits/__link/benefits__link.css);
@import url(../blocks/benefits/__sign-up/benefits__sign-up.css);
@import url(../blocks/benefits/__flex/benefits__flex.css);
@import url(../blocks/benefits/__left/benefits__left.css);
@import url(../blocks/benefits/__right/benefits__right.css);
@import url(../blocks/benefits/__text/_padding/benefits__text_padding.css);
@import url(../blocks/benefits/__title/_padding/benefits__title_padding.css);