@keyframes topBar_open {
    0% {
        transform: translateY(0px) rotate(0deg);
        width: 40px;
   }
    10% {
        transform: translateY(-8px) rotate(0deg);
        width: 20px;
   }
    50% {
        transform: translateY(25px) rotate(45deg);
        width: 54px;
   }
    75% {
        transform: translateY(12px) rotate(45deg);
        width: 40px;
   }
    100% {
        transform: translateY(17px) rotate(45deg);
        width: 40px;
   }
}
@keyframes bottomBar_open {
    0% {
        transform: translateY(0px) rotate(0deg);
        width: 40px;
   }
    10% {
        transform: translateY(-8px) rotate(0deg);
        width: 20px;
   }
    60% {
        transform: translateY(0px) rotate(-45deg);
        width: 54px;
   }
    75% {
        transform: translateY(-10px) rotate(-45deg);
        width: 40px;
   }
    100% {
        transform: translateY(-8px) rotate(-45deg);
        width: 40px;
        right: 11px;
        top: 25px;
   }
}
@keyframes menuLabel_open {
    0% {
        transform: translateY(0px);
        opacity: 1;
   }
    25% {
        transform: translateY(-18px);
   }
    45% {
        transform: translateY(24px);
        opacity: 1;
   }
    48% {
        transform: translateY(30px);
        opacity: 0;
   }
    100% {
        transform: translateY(10px);
        opacity: 0;
   }
}
@keyframes topBar_close {
    0% {
        transform: translateY(17px) rotate(45deg);
        width: 54px;
   }
    35% {
        transform: translateY(-8px) rotate(-4deg);
        width: 40px;
   }
    53% {
        transform: translateY(10px) rotate(3deg);
        width: 40px;
   }
    70% {
        transform: translateY(-6px) rotate(0deg);
        width: 40px;
   }
    100% {
        transform: translateY(-2px) rotate(0deg);
        width: 40px;
   }
}
@keyframes bottomBar_close {
    0% {
        transform: translateY(-8px) rotate(-45deg);
        width: 54px;
   }
    35% {
        transform: translateY(-18px) rotate(6deg);
        width: 40px;
   }
    53% {
        transform: translateY(0px) rotate(-3deg);
        width: 40px;
   }
    68% {
        transform: translateY(-7px) rotate(0deg);
        width: 40px;
   }
    100% {
        transform: translateY(0px) rotate(0deg);
        width: 40px;
   }
}
@keyframes menuLabel_close {
    0% {
        transform: translateY(10px);
        opacity: 0;
   }
    5% {
        transform: translateY(25px);
        opacity: 1;
   }
    25% {
        transform: translateY(-30px);
        opacity: 1;
   }
    37% {
        transform: translateY(-22px);
        opacity: 1;
   }
    45% {
        transform: translateY(-22px);
        opacity: 1;
   }
    58% {
        transform: translateY(8px) rotate(-10deg);
        opacity: 1;
   }
    83% {
        transform: translateY(-6px) rotate(0deg);
        opacity: 1;
   }
    100% {
        transform: translateY(0px);
        opacity: 1;
   }
}

@keyframes open_mobile_sub {
    
    0% {
        min-height: 0px;
    }
    
    100% {
        min-height: 180px;
    }
}

@keyframes close_mobile_sub {
    
    0% {
        min-height: 180px;
    }
    
    100% {
        min-height: 0px;
    }
}


/**
@keyframes topBar_open {
    0% {
        transform: translateY(0px) rotate(0deg);
        width: 40px;
   }
    10% {
        transform: translateY(-8px) rotate(0deg);
        width: 60px;
   }
    50% {
        transform: translateY(25px) rotate(45deg);
        width: 84px;
   }
    75% {
        transform: translateY(12px) rotate(45deg);
        width: 84px;
   }
    100% {
        transform: translateY(17px) rotate(45deg);
        width: 84px;
   }
}
@keyframes bottomBar_open {
    0% {
        transform: translateY(0px) rotate(0deg);
        width: 60px;
   }
    10% {
        transform: translateY(-8px) rotate(0deg);
        width: 60px;
   }
    60% {
        transform: translateY(0px) rotate(-45deg);
        width: 84px;
   }
    75% {
        transform: translateY(-10px) rotate(-45deg);
        width: 84px;
   }
    100% {
        transform: translateY(-8px) rotate(-45deg);
        width: 84px;
   }
}
@keyframes menuLabel_open {
    0% {
        transform: translateY(0px);
        opacity: 1;
   }
    25% {
        transform: translateY(-18px);
   }
    45% {
        transform: translateY(44px);
        opacity: 1;
   }
    48% {
        transform: translateY(50px);
        opacity: 0;
   }
    100% {
        transform: translateY(30px);
        opacity: 0;
   }
}
@keyframes topBar_close {
    0% {
        transform: translateY(17px) rotate(45deg);
        width: 84px;
   }
    35% {
        transform: translateY(-8px) rotate(-4deg);
        width: 60px;
   }
    53% {
        transform: translateY(10px) rotate(3deg);
        width: 60px;
   }
    70% {
        transform: translateY(-6px) rotate(0deg);
        width: 60px;
   }
    100% {
        transform: translateY(-2px) rotate(0deg);
        width: 60px;
   }
}
@keyframes bottomBar_close {
    0% {
        transform: translateY(-8px) rotate(-45deg);
        width: 84px;
   }
    35% {
        transform: translateY(-18px) rotate(6deg);
        width: 60px;
   }
    53% {
        transform: translateY(0px) rotate(-3deg);
        width: 60px;
   }
    68% {
        transform: translateY(-7px) rotate(0deg);
        width: 60px;
   }
    100% {
        transform: translateY(0px) rotate(0deg);
        width: 60px;
   }
}
@keyframes menuLabel_close {
    0% {
        transform: translateY(30px);
        opacity: 0;
   }
    5% {
        transform: translateY(25px);
        opacity: 1;
   }
    25% {
        transform: translateY(-30px);
        opacity: 1;
   }
    37% {
        transform: translateY(-22px);
        opacity: 1;
   }
    45% {
        transform: translateY(-22px);
        opacity: 1;
   }
    58% {
        transform: translateY(8px) rotate(-10deg);
        opacity: 1;
   }
    83% {
        transform: translateY(-6px) rotate(0deg);
        opacity: 1;
   }
    100% {
        transform: translateY(0px);
        opacity: 1;
   }
}