.header__enter-icon {

    background-image: url(../../../images/account.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    transition: transform 0.5s;
}