.footer {

    background-color: #E3E3E3;
    min-height: 130px;
    padding: 33px 0 27px 0;
    border-radius: 15px;
    margin-top: 30px;
}

@media screen and (max-width: 666px) {

    .footer {

        padding-left: 50px;
    }
}