.stl__text-third {

    font-size: 22px;
    margin: 0;
    padding: 40px 160px 0 160px;
    text-align: left;
}

@media screen and (max-width: 900px) {

    .stl__text-third {

        padding: 40px 80px 0 80px;
    }
}

@media screen and (max-width: 768px) {

    .stl__text-third {

        padding: 40px 60px 0 60px;
    }
}

@media screen and (max-width: 425px) {

    .stl__text-third {

        font-size: 16px;
        padding: 40px 20px 0 20px;
    }
}