.russian-tennis__third-title {

    font-weight: 900;
    text-align: right;
    font-size: 110px;
    line-height: 1;
    letter-spacing: -5px;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(78,34,5,1) 64%, rgba(236,95,27,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1024px) {

    .russian-tennis__third-title {

        font-size: 14vw;
    }
}