.header__low {

    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0 0 15px 15px;
    z-index: 2;
}

@media screen and (max-width: 666px) {

    .header__low {
        
        display: none;
    }
}